.breadcrumb {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}

.breadcrumb a {
  color: #000000;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-center {
  display: block;
  margin: 0 auto;
  width: 1300px;
  height: 400px;
  object-fit: cover;
  object-position: center -16px;
  border-radius: 8px;
}


.texto-centro {
  max-width: 800px;
  width: 100%;
  text-align: center;
  white-space: normal; // asegura que el texto haga salto de línea
  margin: 0 auto;
  padding: 10px 20px;
  color: #333;
  font-family: 'inter';
}
.texto-centro p {
  line-height: 1.6;
  font-size: 1.1rem;
}
