<ion-content>
  <div class="breadcrumb">
    <a [routerLink]="'/home'">Inicio</a> &rarr; 
    <span>Quienes Somos</span>
  </div>
  <img src="/assets/recurso-principal-34822169.jpg" class="img-center"/>
  <div class="texto-centro">
    <h2>LYL Automotriz</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, velit? Ad, nemo. Voluptatum, sequi! Dolore quod, ullam similique, nulla provident sed, eligendi nihil architecto cumque magni facere nostrum. Quaerat, officiis! </p>
  </div>
</ion-content>