<ion-content class="home-page">
  <div class="breadcrumb">
    <a [routerLink]="'/home'">Inicio</a> &rarr;
    <span>Inicio</span>
  </div>

  <div class="banner">
    <img src="/assets/auto prmo.jpg" alt="Ofertas Imperdibles" />
    <div class="grad-overlay"></div>
    <div class="banner-text">
      <h1>OFERTAS <br /> IMPERDIBLES</h1>
    </div>
  </div>

  <div class="inicio-layout">
    <div class="buscar-container">
      <div class="titulo-busqueda">BIENVENIDO</div>
      <ion-list class="filtros-formulario">
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" placeholder="ejemplo@mail.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input type="password" placeholder="********"></ion-input>
        </ion-item>

        <ion-button expand="block" color="danger" class="buscar-button">Ingresar</ion-button>

        <div class="olvido-contrasena">
          <a href="#">¿Olvidaste la contraseña?</a>
        </div>
      </ion-list>
    </div>

    <div class="ofertas-container">
      <h2>Ofertas</h2>
      <div class="ofertas-grid">
        <div class="oferta-card" *ngFor="let oferta of ofertas">
          <div class="oferta-imagen"></div>
          <div class="nuevo-etiqueta">NUEVO</div>
        </div>
      </div>
    </div>

  </div>

</ion-content>
