<ion-content class="productos-page">
  <div class="breadcrumb">
    <a [routerLink]="'/home'">Inicio</a> &rarr; 
    <span>Productos</span>
  </div>
  <div class="page-layout">
    <div class="buscar-container">
      <div class="titulo-busqueda">BUSCA TUS PRODUCTOS</div>
      <ion-list class="filtros-formulario">
        <ion-item>
          <ion-label position="stacked">Marca</ion-label>
          <ion-select placeholder="Toyota">
            <ion-select-option value="toyota">Toyota</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Modelo</ion-label>
          <ion-select placeholder="Hilux">
            <ion-select-option value="hilux">Hilux</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Año</ion-label>
          <ion-select placeholder="2024">
            <ion-select-option value="2024">2024</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Repuesto</ion-label>
          <ion-select placeholder="Todo">
            <ion-select-option value="todo">Todo</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" color="danger" class="buscar-button">Buscar</ion-button>
      </ion-list>
    </div>

    <div class="productos-container">
      <div class="ordenamiento-container">
        <ion-chip color="dark" outline>Nuevo</ion-chip>
        <ion-chip color="medium" outline>Precio ascendente</ion-chip>
        <ion-chip color="medium" outline>Precio descendente</ion-chip>
        <ion-chip color="medium" outline>Valoración</ion-chip>
      </div>

      <div class="productos-grid">
        <ion-card *ngFor="let producto of productos">
          <div class="producto-imagen"></div>
          <ion-card-content class="producto-contenido">
            <div class="producto-nombre">{{ producto.nombre }}</div>
            <ion-button size="small" color="danger" expand="block">Ver</ion-button>
          </ion-card-content>
        </ion-card>
      </div>

    </div>

  </div>

</ion-content>
